* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "gilroy", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
}

.outer-container {
  padding: 4rem;
  background-color: #3dcf8b;
  background-image: url(./assets/stirring.svg), url(./assets/meal-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;

  .inner-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .search-bar {
      form {
        margin-top: 4rem;
        display: flex;
        align-items: flex-end;
        gap: 2rem;
        .form-group1 {
          display: flex;
          width: 30%;
          flex-direction: column;
          label {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
          }
          select {
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 1rem;
          }
        }
        .form-group2 {
          display: flex;
          flex: 1;
          flex-direction: column;
          label {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
          }
          input {
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 1rem;
            outline: none;
          }
        }
        button {
          padding: 0.5rem 1rem;
          border-radius: 5px;
          border: 1px solid #ccc;
          background-color: #fff;
          font-size: 1rem;
          cursor: pointer;
          &:hover {
            background-color: #eee;
          }
          &:active {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
  .recipe-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    img {
      width: 300px;
      object-fit: cover;
    }
  }
}
.recent-outer,
.diet-outer {
  padding: 4rem;
}
.recent, .diet {
  max-width: 1200px;
  width: 100%;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  .left {
    min-width: 30%;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  .right {
    min-width: 400px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    .recipe-card {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
      font-size: 0.6rem;
      img {
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }
    }
  }
}

.diet-outer {
    background-color: #ffffff;
}
